.modal-wrapper {
  color: #4A235A;
  z-index:100;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;

  .modal-window {
    position: absolute;
    width: 515px;
    height: 300px;
    z-index: 2;
    background: #EBDEF0;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .head {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: #AF7AC5;
      padding: 20px 30px;
      border-radius: 5px;

      .close {
        background: #AF7AC5;
        border: none;
        font-size: 22px;
        cursor: pointer;
        outline: none;
      }
    }

    .modal-text {
      font-size: 15px;
      margin: 40px 40px;
    }

    .footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 40px;
    }

    .footer button {
      width: 100px;
      height: 40px;
      border-radius: 5px;
      background: #AF7AC5;
      margin-right: 20px;
      cursor: pointer;
      outline: none;
    }
  }

  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background:rgba(0,0,0,.7);
  }
}


